body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
figure {
  margin: 0;
  width: fit-content;
}
img {
  margin: auto;
  width: auto;
}
#featured-property {
  width: 900px;
margin: auto;
position: relative;
 }
 
 #details {
   display: block;
 }
 
 #details div {
   float: left;
 }